*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-image: url("./image/IMAGE.png");
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.mainHeader{
    margin: 0px;
    font-size: 28px;
    line-height: 35px;
}
.bottomHeader{
    margin: 0px;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 70%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
}
.post{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.postForm{
    margin-bottom: 20px;
}
.postTitle{
    margin-bottom: 10px;
}
.postBody{
    margin-bottom: 10px;
}
.postAuthor{
    margin-bottom: 10px;
}
.postBtn{
    display: flex;
    justify-content: space-between;
}
.postEditForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postTextAreaTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
}
.postTextAreaBody{
    width: 25rem;
    height: 15rem;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
    padding: 16px;
    margin-bottom: 20px;
}
.postTextAreaAuthor{
    width: 15rem;
    height: 3rem;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
    padding: 16px;
    margin-bottom: 20px;
}
.postTextAreaBtnSave{
    margin-top: 20px;
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.17rem;
    align-items:center;
}
.postBtnEdit{
    display: flex;
}
.pagination{
    display: flex;
    justify-content: center;
}
.btnPagination{
    margin-right: 5px;
}
