*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
}
html,
body {
    background-color: #FFFFFF;
    background-size:100%;
    background-repeat: no-repeat;
}
.topHeader {
    position: sticky;
    top: 0;
    background-color: #0566a9;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.mainHeader{
    margin: 0px;
    font-size: 28px;
    line-height: 35px;
}
.bottomHeader{
    margin: 0px;
}
.headerMenu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    display: flex;
    flex-direction: column;
}
.post{
    width: 50%;
    border: none;
    border-radius: 15px;
    margin: auto auto 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.postForm{
    margin-bottom: 20px;
}
.postTitle{
    margin-bottom: 10px;
}
.postBody{
    margin-bottom: 10px;
}
.postAuthor{
    margin-bottom: 10px;
}
.postBtn{
    display: flex;
    justify-content: space-between;
}
.postEditForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postTextAreaTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
}
.postTextAreaBody{
    width: 25rem;
    height: 15rem;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
    padding: 16px;
    margin-bottom: 20px;
}
.postTextAreaAuthor{
    width: 15rem;
    height: 3rem;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.15rem;
    padding: 16px;
    margin-bottom: 20px;
}
.postTextAreaBtnSave{
    margin-top: 20px;
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-size: 1.17rem;
    align-items:center;
}
.postBtnEdit{
    display: flex;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 30px !important;
}
.btnPagination{
    margin-right: 5px;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authButton {
    display: flex;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    margin-bottom: 20px;
    background-color: #FFFFFF;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    background-color: #FFFFFF !important;
    margin-inline: 5px !important;
}

.transitionItem-enter {
    opacity: 0;
}

.transitionItem-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.transitionItem-exit {
    opacity: 1;
}

.transitionItem-exit-active {
    opacity: 0;
    transition: all 500ms ease-in;
}

.footerStyle {
    width: 100%;
    height: 50px;
    background-color: #0566a9;
}

.footerText {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.sideMenuHidden {
    display: none;
}

.sideMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #2897e1;
    width: 26%;
    height: 20%;
}

.menuUl {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-decoration: none;
}

.menuLi {
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
